<!DOCTYPE html>
<html>
  <head>
    <title>ROS Navigation Map Viewer with Dynamic Robot Marker</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/roslibjs/1.1.0/roslib.js"></script>
  </head>
  <body>
    <h1>ROS Navigation Map Viewer with Dynamic Robot Marker</h1>
    <canvas id="mapCanvas" width="700" height="700"></canvas>
    <input type="text" id="mapName" placeholder="Map Name" />
    <input type="text" id="mapSite" placeholder="Map Site" />
    <button onclick="createMap()">Create Map</button>
    <button onclick="saveMap()">Save Map</button>

    <script>
      var ros = new ROSLIB.Ros();
      ros.connect("ws://localhost:9090");

      var mapData;
      var mapWidth;
      var mapHeight;
      var mapResolution;
      var mapOrigin;

      var canvas = document.getElementById("mapCanvas");
      var ctx = canvas.getContext("2d");
      function createMap() {
        fetch("http://127.0.0.1:5000/start_mapping")
          .then((response) => {
            if (response.ok) {
              alert("Mapping process started.");
            } else {
              alert("Failed to start mapping process.");
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Error starting mapping process.");
          });
      }

      function renderMap() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        if (mapData) {
          // Render map
          for (var y = 0; y < mapHeight; y++) {
            for (var x = 0; x < mapWidth; x++) {
              var index = y * mapWidth + x;
              var value = mapData[index];
              var color;
              if (value === -1) {
                color = "#000"; // Black
              } else if (value === 0) {
                color = "#fff"; // White
              } else if (value === 100) {
                color = "#ccc"; // Grey
              } else {
                var grayscale = 255 - value * 2.55;
                color =
                  "rgb(" + grayscale + "," + grayscale + "," + grayscale + ")";
              }
              ctx.fillStyle = color;
              ctx.fillRect(x * 5, y * 5, 5, 5);
            }
          }
        }
      }

      function saveMap() {
        var mapName = document.getElementById("mapName").value;
        var mapSite = document.getElementById("mapSite").value;

        fetch("http://localhost:5258/maps/save", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ Name: mapName, Site: mapSite }),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Map saved successfully:", data);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      var mapListener = new ROSLIB.Topic({
        ros: ros,
        name: "/map",
        messageType: "nav_msgs/OccupancyGrid",
      });

      mapListener.subscribe(function (message) {
        mapData = message.data;
        mapWidth = message.info.width;
        mapHeight = message.info.height;
        mapResolution = message.info.resolution;
        mapOrigin = message.info.origin;

        renderMap();
      });
    </script>
  </body>
</html>
